
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466744540'); /* IE9*/
  src: url('iconfont.eot?t=1466744540#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466744540') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466744540') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466744540#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-down:before { content: "\e600"; }
.icon-right:before { content: "\e601"; }
.icon-del:before { content: "\e602"; }
.icon-temperaturepull:before { content: "\e603"; }
.icon-temperatureless:before { content: "\e604"; }
.icon-volumeless:before { content: "\e605"; }
.icon-volumeup:before { content: "\e606"; }
